<Title>About</Title>

<h2>Task</h2>

<h3 style="color:brown">
    Система отслеживания заданий. Выдача задания
    менеджером. Статус задания, согласно рабочему процессу.
    Процент выполнения. Почтовые уведомления клиентам
    системы. Управление пользователями и их ролями.
</h3>

<h5>If you are not manager</h5>
<p> This application allow you to create tasks for you personally, set properties of this tasks, add/delete subtask and then see progress of your tasks or change status of its</p>

<h5>If you are manager</h5>
<p> This application allow you to create tasks for you personally or choose assignee for tasks from your team, set properties of this tasks, add/delete subtask and then see progress of your tasks or change status of its.</p>
<p>You can edit tasks and change assignees</p>
<p> Also you can see who are in your team and add or delete members. After each changing members will receive letter on e-mail</p>
