<address>
    <p>
        <strong>Author of application:</strong> <a href="mailto:annet312@gmail.com" title="Send email">annet312@gmail.com</a>
    </p>
    <p>
        <strong>GitHub account:</strong> <a href="https://github.com/annet312" title="GitHub" target="_blank">https://github.com/annet312</a>
    </p>
</address>
