@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<address>
    <strong>Author of application:</strong>   <a href="mailto:annet312@gmail.com">annet312@gmail.com</a><br />
</address>