
@{
    ViewBag.Title = "Index";
}

<div style="text-align: center;">
    <h1>Hello!</h1>
    <h4>What would you like to see now?</h4>
</div>

<div class="menu" style="text-align: center;">
    @Ajax.ActionLink(
            "Your tasks",
            "MyTasks",
            "Home",
            new AjaxOptions
            {
                UpdateTargetId = "UpdateContentDiv",
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "GET",
                LoadingElementId = "divLoading",
                OnBegin = "onAjaxBegin",
                OnComplete = "onAjaxComplete"
            },
            new { id = "myTasksBtn", @class = "btn btn-primary" }
        )
    @if (User.IsInRole("Manager"))
    {
        @Ajax.ActionLink(
                                         "Your team",
                                         "MyTeam",
                                          "Home",
                                          new AjaxOptions
                                          {
                                              UpdateTargetId = "UpdateContentDiv",
                                              InsertionMode = InsertionMode.Replace,
                                              HttpMethod = "GET",
                                              LoadingElementId = "divLoading",
                                              OnBegin = "onAjaxBegin",
                                              OnComplete = "onAjaxComplete"
                                          },
                                           new {id = "myTeamBtn", @class = "btn btn-primary" }
                                          )
        <i></i>
        @Ajax.ActionLink(
                 "Task of your team",
                 "TaskOfMyTeam",
                 "Home",
                 new AjaxOptions
                 {
                     UpdateTargetId = "UpdateContentDiv",
                     InsertionMode = InsertionMode.Replace,
                     HttpMethod = "GET",
                     LoadingElementId = "divLoading",
                     OnBegin = "onAjaxBegin",
                     OnComplete = "onAjaxComplete"
                 },
                 new {id = "myTeamTasksBtn", @class = "btn btn-primary" }
             )
    }
</div>

<div id="divLoading" style="text-align: center;" hidden>
    <img src="~/Content/images/Loading.gif" alt="Loading Image" height="150" title="Loading Image" />
</div>

<div id="UpdateContentDiv">
    @*Div to update content after Ajax Call*@
</div>

@section scripts{
    <script>
        function onAjaxBegin() {
            $("#divLoading").removeAttr("hidden");
        }

        function onAjaxComplete() {
            $("#divLoading").attr("hidden");
        }
        $("#myTasksBtn").click(function () {
            $("#myTasksBtn").removeClass("btn-sm");
            $("#myTasksBtn").addClass("btn-lg");
            $("#myTeamBtn").removeClass("btn-lg");
            $("#myTeamBtn").addClass("btn-sm");
            $("#myTeamTasksBtn").removeClass("btn-lg");
            $("#myTeamTasksBtn").addClass("btn-sm");
        })
        $("#myTeamBtn").click(function () {
            $("#myTasksBtn").removeClass("btn-lg");
            $("#myTasksBtn").addClass("btn-sm");
            $("#myTeamBtn").removeClass("btn-sm");
            $("#myTeamBtn").addClass("btn-lg");
            $("#myTeamTasksBtn").removeClass("btn-lg");
            $("#myTeamTasksBtn").addClass("btn-sm");
        })
        $("#myTeamTasksBtn").click(function () {
            $("#myTasksBtn").removeClass("btn-lg");
            $("#myTasksBtn").addClass("btn-sm");
            $("#myTeamBtn").removeClass("btn-sm");
            $("#myTeamBtn").addClass("btn-sm");
            $("#myTeamTasksBtn").removeClass("btn-sm");
            $("#myTeamTasksBtn").addClass("btn-lg");
        })
    </script>

}
