################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TaskManagerDAL/.vs
/.vs
/IdentityDAL/.vs/IdentityDAL/v15
/TaskManagerBLL/obj
/IdentityDAL/obj
