################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TaskManagerDAL/.vs
/.vs
/IdentityDAL/.vs/IdentityDAL/v15
/TaskManagerBLL/obj
/IdentityDAL/obj
/TaskManagerBLL/bin
/TaskManagerBLLTests/obj
/TaskManagerDAL/packages
/TaskManagerDAL/TaskManagerDAL/obj
/TaskManagerDAL/TaskManagerDAL/bin
/TaskMng/bin
/TaskMng/obj
/UsersBLL/bin
/UsersBLL/obj
/TaskManagerBLLTests/bin/Debug
