<div class="row">
    <div class="col-md-12">
        <div class="error-template">
            <h1>
                Oops!
            </h1>
            <h2>
                500
            </h2>
            <div class="error-details">
                Sorry, we have technical problems.
            </div>
            <div class="error-actions">
                <a href="/Home/About" class="btn btn-primary btn-lg">
                    <span class="glyphicon glyphicon-home"></span>
                    About this application
                </a><a href="/Home/Contact" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span> Contact Support </a>
            </div>
        </div>
    </div>
</div>